*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wraper{
    display: flex;
}
nav.menu{
    background-color: #000;
    height: 100%;
    position: fixed;
}