@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display-swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*==============Nav bar=============*/
header{
    background:linear-gradient(to top, rgba(1, 0, 0, 0.9), rgba(1,0,0,0.8)), url(../img/pexels-pixabay-326333.jpg); 
    background-size: cover;
    background-position: center center;
}
.header-contact{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    
}
.header-contact li{
    color: #D2691E;
    padding: 10px;
    list-style: none;
}
nav.menu .container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
nav.menu{
    position:sticky;
    z-index: 10;
    font-family: 'Chivo Mono',monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(to top, rgba(1, 0, 0, 1), rgba(1,0,0,0.9)), url(../img/pexels-pixabay-326333.jpg); 
    background-size: cover;
    background-position: center center;
}
nav.menu ul{
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
}
nav.menu .container ul li{
    list-style: none;
}
nav.menu .logo img{
    width: 120px;
}

.menu a {
    color: #D2691E;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.menu:hover li a:not(:hover) {
    color: #8B4513;
    opacity: 0.9;
    filter: blur(1px);
}
  
  
.menu-toggle {
    display: none;
    cursor: pointer;
}
  
.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}
/*whatsapp*/
.whatsapp-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border: 3px solid white;
    padding: 10px;
    border-radius: 100px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.joinchat_tooltip {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 7px;
    right: 60px;
    width: auto;
    height: 35px;
    padding: 5px 10px 5px 5px;
    border: none;
    border-radius: 50px;
    background: #fff;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-out 0.4s;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.4));
}

.joinchat_tooltip:before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: -6px;
    border: 8px solid transparent;
    border-width: 6px 0 6px 8px;
    border-left-color: #fff;
}

.bi-person-circle{
    margin-right: 5px;
    color: #999;
}

.joinchat_tooltip .text {
    color: #525252;
    font-size: 16px;
}

.whatsapp-btn{
    transition: all 0.5s ease-in-out;
    animation: bounce 1.6s infinite;
}

@keyframes bounce {
    0%,20%,50%,80%,100%{
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(-5px);
    }
}
@media (hover: hover){
    .whatsapp-btn:hover .joinchat_tooltip{
        opacity: 1;
        animation: none;
        transition: opacity 0.2s;
    }
}
/*========================*/
section.about{
    color: #D2691E;
    background:linear-gradient(to top, rgba(1, 0, 0, 0.7), rgba(1,0,0,0.8)), url(../img/pexels-pixabay-326333.jpg); 
    background-size: cover;
    background-position: center center;
}
.content{
    max-width: 1200px;
    margin: auto;
}
h2{
    text-align: center;
    padding: 20px;
}
.content-about{
    display: flex;
}
.img-about{
    width: 40%;
}
img{
    width: 100%;
}
.text-about{
    padding: 10px;
    width: 60%;
    margin: 40px 0 40px 0;
}
.to-locate{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
.to-locate hr{
    width: 600px;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 70px;
}
.to-locate .grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.to-locate li{
    list-style: none;
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
.to-locate .grid li.small{
    flex-basis: 40%;
}
.to-locate .grid li.large{
    flex-basis: 60%;
}
@media (max-width: 700px){
    .to-locate .grid li.small, .to-locate .grid li.large{
        flex-basis: 100% ;
    }
}
/*=======================*/
@media (max-width: 768px) {
    nav.menu .logo img{
        width: 100px;
    }
    .menu-toggle {
        display: block;
    }
    nav.menu .container{
        flex-direction: column;
    }
    nav.menu .container ul{
      display: none;
      position: absolute;
      top: 150px;
      left: 0;
      background-color: #333;
      width: 100%;
      margin: 0;
      padding: 10px 0;
    }
  
    .menu .container li {
      margin: 10px 0;
      text-align: center;
    }
  
    .menu .container a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 10px;
    }
  
    .menu.active .container ul{
      display: block;
      color: blue;
    }
  }

  footer{
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top: 15px;
}

.text_footer {
    text-transform: uppercase;
    background: linear-gradient(to right, green, white, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


footer ul {
    position: relative;
    display: flex;
    gap: 25px;
}

footer ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius:60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.5s;
}

footer ul li:hover{
    width: 180px;
    box-shadow: 0 10px 25px rgba(0,0,0,0);
}

footer ul li:before{
    content: '';
    position: absolute;
    inset:0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--i),var(--j));
    opacity: 0;
    transition: 0.5s;
}

footer ul li:hover::before{
    opacity: 1;
}

footer ul li:after{
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i),var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(15px);
}

footer ul li:hover::after{
    opacity: 0.5;
}

footer ul li i {
    color: #777;
    font-size: 1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
}

footer ul li:hover i {
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25s;
}

footer ul li span {
    position: absolute;
}

footer ul li .titulo {
    color: #fff;
    font-size: 1.1em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

footer ul li:hover .titulo {
    transform: scale(1);
    transition-delay: 0.25s;
}
